.imageContainer {
    min-height: 100px;
    height: 100%;
    padding: 10px;
}

.imageContainerInner {
    position: relative;
    cursor: pointer;
}

.selected {
    outline: 3px solid #50e0cd!important;
}

.selected:hover {
    outline: none;
    box-shadow: 1px 1px 7px #50e0cd;
}

.notSelected {
    outline: none;
}

.img {
    height: 100%;
    width: 90px;
    position: relative;
}

.imageContainerInner:hover {
    outline: none;
    box-shadow: 1px 1px 7px #50e0cd;
}

.description {
    color: #fff;
    margin: 0px;
    padding: 2px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12px;
    background-color: rgba(0,0,0,.5);
}

.mutant {
    position: absolute;
}

.notSelectedMutant {
    width: 115px;
    top: -12px;
    left: -13px;
}

.selectedMutant {
    width: 120px;
    top: -15px;
    left: -16px;
}

.pending {
    z-index: 5;
    background: rgb(#000, #000, #000, 50%);
}

  /* Loader */

  .coverSpin {
    position:absolute;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

.coverSpin::after {
    content:'';
    display:block;
    position:absolute;
    left:27%;top:28%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}